html {}


body {
    margin: 0;
    padding: 0;
}

.container-fluid {}



/*----------------------NAV BAR-------------------------*/

.relativenavbar {
    position: relative;
    padding: 10px;
    background-color: #2f2f5f;
    height: 70px;
    width: 100%;

    transition: height 1s;
    animation-name: animationrelativenavbar;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 15;

}

@keyframes animationrelativenavbar {
    from {
        background-color: #5a33ce;

    }
    to {
        background-color: #2f2f5f;

    }
}


.stickynavbar {
    position: fixed;
    padding: 10px;
    transition: height 1s, background-color 1s;
    height: 60px;
    width: 100%;
    z-index: 15;
    background-color: rgba( 2, 2, 2, 0.431);
}

#navbar ul li {
    padding: 0px 15px 0px 15px;
    float: right;

}

#navbar a {
    color: #deeaf6;
    cursor: pointer;
    font-size: 30px;
    transition: color 1s, border-right 1s;
}


/*--DROP DOWN MENU--*/

#dropdown {
    float: right;
}

#contactbtn {
    padding-right: 5px;
    border-right: 0px solid #deeaf6;
    transition: border-right 1s;
}

#contactbtn:hover {
    padding-right: 5px;
    border-right: 5px solid #deeaf6;
}


/*------------------------------------------Intro-------------------------------------*/

#introcontainer {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #5a33ce, #59c7d5);
    height: 400px;
}

#introDiv {
    width: 32%;
    margin: auto;
    position: relative;
    top: 20%;
    text-align: center;
}

#introDiv p {
    font-family: poppins;
    color: white;
    font-size: 1.9vw;
}



ion-icon {
    font-size: 3.7vw;
    position: relative;
    color: white;
    position: relative;
    animation-name: ion-icon;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: color 1s, font-size 1s;
    cursor: pointer;
    z-index: 15;
}

@keyframes ion-icon {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }

}

ion-icon:hover {
    font-size: 4.3vw;
    color: #5a33ce;
    transition: color 1s, font-size 1s;
}

/*-----------------------PARALLAX BACKGROUND---------------------------*/

#parallax_background {

    position: relative;
    height: 27vw;
    background: #59c7d5;

}

#parallax_background img {
    position: absolute;
    width: 100%;

}

#pier {
    z-index: 14;

}

#smallbirds {
    z-index: 13;


}

#mediumbirds {
    z-index: 12;
}

#bigbirds {
    z-index: 11;

}

#darkerorange {
    z-index: 10;

}

#orangesands {
    z-index: 9;
}

#piergrinds {
    z-index: 8;
}

#people {
    z-index: 7;
}

#blueocean {
    z-index: 6;
}

#purplebackgroundcloud {
    z-index: 5;
}

#pinkbackgroundcloud {
    z-index: 4;
}

#biggermoon {
    z-index: 3;
}

#smallmoon {
    z-index: 2;
}

#lightbluesky {
    z-index: 1;
}

/*------------------------------------------Bio-------------------------------------*/

#aboutcontainer {
    position: relative;
    top: -4px;

    background: linear-gradient(180deg, #f19870, #5a33ce);
    margin: 0;
    padding: 0;

}


#abouttitle {
    font-size: 2.7vw;
    color: #deeaf6;
    width: 14%;
    margin: auto;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 5px solid #deeaf6;
}

#bioDiv {

    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 20px;

}

#bioDiv p {
    color: #deeaf6;
    font-size: 25px;
    text-align: center;

}

#bioimgDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#bioimgDiv img {
    align-content: center;
    height: 250px;
    width: 250px;

    margin-top: 20px;
    margin-bottom: 20px;

    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin: 5px;
    filter: brightness(80%);
    transition: filter 1s, box-shadow 0.5s, opacity 1s;
    border: 5px solid white;
    opacity: 0.9
}

#bioimgDiv img:hover {
    filter: brightness(110%);
    transition: filter 1s, box-shadow 0.5s, opacity 1s;
    box-shadow: 5px 5px 20px;
    opacity: 1
}


/*------------------------------------------Skills-------------------------------------*/

#skillscontainer {
    background: #59c7d5;
    background: linear-gradient(180deg, #5a33ce, #59c7d5);
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
}

#skillstitle {
    font-size: 2.7vw;
    color: #deeaf6;
    width: 10%;
    margin: auto;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 5px solid #deeaf6;
}

#showallbtn {
    position: relative;
    font-size: 2.0vw;
    width: 12%;
    margin: auto;
    text-align: center;
    padding-bottom: 2px;
    background-color: rgba( 10, 187, 219, 1);
    color: white;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 5px #565656;
    position: relative;
    top: 0px;
    transition: background-color 1s, color 1s, top 0.5s, box-shadow 0.5s;
}

#showallbtn:hover {
    position: relative;
    top: 5px;
    color: #deeaf6;
    background-color: #5a33ce;
    box-shadow: 0 0 0 #565656;

    transition: background-color 1s, color 1s, top 0.5s, box-shadow 0.5s;
    cursor: pointer;
}

#skillDiv {
    width: 85%;
    margin: auto;

}

#skillsets1,
#skillsets2,
#skillsets3 {
    display: inline-block;
    width: 33.1%;
    color: #deeaf6;

}



.skillset {

    background-color: rgba( 89, 89, 89, 0.3);

    padding: 12px;
    border-radius: 5px;
    margin: 10px;
    height: 120px;
    box-shadow: 0px 0px 5px black;

}

.skillset:nth-of-type(1) {
    border-bottom: 10px solid #deeaf6;

}

.skillset p:first-child {
    font-size: 1.2vw;
    text-align: center;
}

.skillsettitle {
    font-weight: bolder;

}

.skillset img {
    width: 30px;
    height: 30px;
    align-content: center;
    filter: grayscale(20%);
    position: relative;
    left: -4px;
    top: 1px;

}



.percentage {
    background-color: rgba( 10, 187, 219, 0.6);

    height: 29px;
    display: inline-block;
    position: relative;
    top: 12px;


}




.ps,
.js,
.jquery,
.css3,
.html5,
.pro,
.sp,
.ae,
.zbrush,
.maya,
.unity {
    width: 0%;
}




/*------------------------------------------Contact-------------------------------------*/

#contactcontainer {
    background: linear-gradient(180deg, #59c7d5, #5f21ff);
    position: relative;
    top: -4px;
}

#contacttitle {
    font-size: 2.0vw;
    color: #deeaf6;
    width: 15%;
    margin: auto;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 3px solid #deeaf6;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contactcontentDiv {
    width: 70%;
    margin: auto;

}

#contactingDiv {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    background-color: rgba( 89, 89, 89, 0.3);
    border-radius: 5px;
    margin: 5px;
    height: 500px;
    box-shadow: 0 0 5px;
}







input[type=text],
select,
textarea,
#comment {
    width: 80%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba( 89, 89, 89, 0.1);
    box-shadow: 0 0 0.2px;
    color: white;
}

#name:focus-within,
#email:focus-within,
#comment:focus-within {
    background-color: rgb(90, 51, 206, 0.6);
    transition: background-color 2s;
}




#name::placeholder,
#email::placeholder,
#comment::placeholder {
    color: #deeaf6;
}



input[type=submit] {
    background-color: #0abbdb;

    color: #deeaf6;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.3vw;
    transition: background-color 1s;
}

input[type=submit]:hover {
    background-color: #5a33ce;
    transition: background-color 1s;
}


/*---------------------------SOCIAL--*/

#socialDiv {
    width: 100%;
    text-align: center;
    background-color: rgba( 89, 89, 89, 0.1);
    float: left;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 5px;

}

#socialtitle {
    font-size: 2.0vw;
    color: #deeaf6;
    width: 13%;
    margin: auto;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 3px solid #deeaf6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fab,
.fas {
    margin: 15px 50px 10px 50px;
    font-size: 3.1vw;
    color: rgb(222, 234, 246, 0.5);
    transition: font-size 1s, color 1s;
}

.fab:hover,
.fas:hover {
    font-size: 3.5vw;
    color: #deeaf6;
    transition: font-size 1s, color 1s;
}

#jsComment {
    font-size: 1.1vw;
    color: #deeaf6;
    font-family: Poppins;

}

/*------------------------------------------FOOTER---------------------------------------*/

#foot {

    position: relative;
    background-color: #5f21ff;
    bottom: 2px;
    height: 30px
}

#foot p {
    display: inline;
    color: white;
    font-family: Poppins;
    position: relative;
    top: 6px;

}


/*MEDIA QUERIES RESPONSIVE-------------------------------------------------------*/

/*max width: 900, any screens with 900px or less*/

@media only screen and (max-width: 540px) {
    #navbar a {
        font-size: 28px;

    }

    #navbar ul li {
        padding: 0px 7px 0px 7px;

    }

}

@media only screen and (max-width: 880px) {
    #bioimgDiv img {
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 20px;

    }
}

@media only screen and (max-width: 990px) {

    #introcontainer {
        height: 690px;
    }

    #introDiv p {
        font-size: 40px;
    }
    #introDiv p:nth-child(2),
    #introDiv p:nth-child(3) {
        font-size: 35px;
    }

    #introDiv {
        width: 70%
    }

    ion-icon {
        font-size: 35px;
    }

    ion-icon:hover {
        font-size: 45px;
    }

    /*Bio section*/
    #abouttitle {
        width: 50px;

    }
    #bioDiv {
        width: 80%;
    }

    #bioDiv p {
        margin-bottom: 20px;
    }

    #bioimgDiv {
        width: 90%;
    }



    #skillsets1,
    #skillsets2,
    #skillsets3 {
        width: 100%;
    }

    #skillsets1 .skillset,
    #skillsets2 .skillset,
    #skillsets3 .skillset {
        width: 100%;
    }

    #skillsets1 .skillset:last-child,
    #skillsets2 .skillset:last-child,
    #skillsets3 .skillset:last-child {
        margin-bottom: 10px;
    }

    .skillset img {
        width: 30px;
        height: 30px;

    }

    .skillset p:first-child {
        font-size: 14px;
    }

    #contactcontentDiv {
        width: 95%;
    }

    #abouttitle,
    #skillstitle,
    #contacttitle,
    #socialtitle,
    #name,
    #email,
    #subject,
    #comment,
    input[type=submit] {
        font-size: 20px;
    }

    #showallbtn {
        font-size: 25px;
        width: 25%;
    }

    .fab,
    .fas,
    .fab:hover,
    .fas:hover {
        font-size: 55px;
    }



    #skillstitle {
        width: 60px;
    }

    #socialtitle {
        width: 80px;
    }
    #contacttitle {
        width: 110px;
    }

    #jsComment {
        font-size: 15px;
    }

    .fab,
    .fas {
        margin: 15px 45px 10px 45px;
    }


}



@media only screen and (min-width: 990px) and (max-width: 1303px) {
    #skillsets1,
    #skillsets2,
    #skillsets3 {
        display: inline-block;
        width: 33%;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1660px) {
    #introcontainer {
        height: 615px;
    }

}
